# Ignore virtual environments
venv/
env/
.venv/

# Ignore environment files
.env
.env/

# Ignore __pycache__ directories
__pycache__/
/__pycache__

# Ignore log files
*.log

# Ignore SQLite databases
*.sqlite3

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VSCode settings
.vscode/

# SSL keys
# informatik.rub.de.key
# informatik_ruhr-uni-bochum_de_cert.cer

# Ignore macOS specific files
.DS_Store

# VSCode settings
.vscode/